Source: openmediavault-sftp
Section: net
XB-Plugin-Section: network
Priority: optional
Maintainer: OpenMediaVault Plugin Developers <plugins@omv-extras.org>
Build-Depends: debhelper (>= 13)
Standards-Version: 4.3.0
Homepage: http://omv-extras.org/

Package: openmediavault-sftp
Architecture: all
Depends: openmediavault (>= 7.7.15),
         ${misc:Depends}
Description: sftp server
 Configure sftp server using jails
