Source: openmediavault-sftp
Section: net
XB-Plugin-Section: network
Priority: optional
Maintainer: OpenMediaVault Plugin Developers <plugins@omv-extras.org>
Build-Depends: debhelper-compat (= 14), dh-sequence-single-binary
Standards-Version: 4.7.2
Homepage: http://omv-extras.org/

Package: openmediavault-sftp
Architecture: all
Depends: openmediavault (>= 8),
         ${misc:Depends}
Description: sftp server
 Configure sftp server using jails
