[Unit]
Description=openmediavault sftp plugin service
After=network.target auditd.service

[Service]
ExecStart=/usr/sbin/sshd -D -f /etc/ssh/omv_sftp_config
ExecReload=/bin/kill -HUP $MAINPID
KillMode=process
Restart=on-failure

[Install]
WantedBy=multi-user.target
